@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
  body {
    background-image: linear-gradient(to top, #49a09d, #5d2c82);
  }
  #login {
    width: 80vw;
    height: 340px;
  }
  #login #imagem {
    float: left;
    width: 30%;
    height: 100%;
  }
  #login #form {
    float: right;
    width: 70%;
  }
  #form p {
    margin: 20px 0px;
  }
}

@media screen and (min-width: 992px){
  body {
    background-image: linear-gradient(to top, #49a09d, #5d2c82);
  }
  #login {
    width: 930px;
    height: 440px;
  }
  #login #imagem {
    float: right;
    width: 50%;
    height: 100%;
  }

  #login #form {
    float: left;
    width: 50%;
  }
  #form h1 {
    font-size: 2em;
  }
  #form p {
    font-size: 1.2em;
    margin: 20px 0px;
  }
}